.header {
    padding: 1rem 0 3rem;

    hr {
        margin: 0;
        background-color: #7B5B94;
        height: 3px;
    }
}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #7B5B94;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #C7ABC4;
    text-decoration: underline;
}

.active-nav-item {
    color: #333333;
    font-weight: bold;
}